@import "src/style-config/settings";

.userInfo {
  font-weight: 300;
  text-align: center;
  width: 100%;
}

.userForm {
  text-align: left;
  position: absolute;
  margin: 0 0 0 -1rem;
  padding: 1rem;
  bottom: 0;
  z-index: 2;

  @include media-breakpoint-up(xs) {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
  }

}

.userInput {
  width: calc(100% - 2rem);
  width: -webkit-fill-available;
  margin: .5rem 0;
  padding: 2rem;
  @include neumorphismIn();
}

.userButton {
  width: 100%;
  color: $lightgrey;
  margin-top: 1rem;
  padding: 2rem;
  @include neumorphismOut();
}
