$space: 4vw;
$animation-duration: 1s;

.lobby {
  padding: 0 2rem;
}

.choose {
  display: flex;
  flex-grow: 1;
  color: #fff;
}

form {
  text-align: center;
  position: relative;
  z-index: 2;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    color: #fff;
  }
}
